.about,
.jobs,
.page {
  .entry-content {
    margin-left: 20px;
    .twitter-tweet {
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 800px) {
    .entry-content {
      margin-left: 0;
    }
  }
}