.events {
  @media screen and (max-width: 800px) {
    ul {
      margin-left: 0;
    }
  }
  ul {
    list-style: none;
    li {
      margin: 15px 0;
      h3 {
        margin-top: -10px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
      .date {
        @extend .title;
      }
      .location {
        &:before {
          content: '@ ';
        }
      }
      &.future {
        .location {
          &:after {
            color: $color-main;
            content: ' !! Join Now !!';
          }
        }
      }
    }
  }
}