.events {
  ul {
    list-style: none;
    li {
      margin: 15px 0;
      h3 {
        margin-top: -10px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
      .date {
        @extend .title;

      }
      .location {
        &:before {
          content: '@ ';
        }
      }
      &.future {
        .location {
          &:after {
            color: $color-main;
            content: ' !! Join Now !!';
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  ul,
  .entry-content ul {
    margin-left: 0;
  }

}
@media screen and (max-width: 600px) {
  .post .meta .date {
    padding-left: 20px;
  }
}