<h2>#idcon とは?</h2>
<div class="entry-content">
  <p>#idcon - Identity Conference - は、「ID厨」と呼ばれる Identity 愛好家達が、不定期に金曜夜に集まって、世界および日本の Identity 技術やそれを取り巻く情勢について議論する場です。OpenID、OAuth、SAML などの技術動向だけでなく、国民ID、プライバシー問題などについても議論したりします。</p>
  <p>興味ある方は、<a href="https://facebook.com/idcon.org">idcon.org FB page</a> を subscribe したり、Twitter で <a href="https://www.twitter.com/search?q=%23idcon&src=typd">#idcon</a> というハッシュタグを追いかけたりしていると、最新イベント情報などが流れてくると思います。</p>
  <p>また、次回 #idcon で聞きたい／話したいテーマ等あれば、<a href="https://facebook.com/idcon.org">FB page</a> へのポストなり <a href="https://twitter.com/nov">@nov</a> 宛のmentionなりしていただければ対応できる、かも！</p>
</div>