      <h2>History</h2>
      <div class="entry-content">
        <ul>
                <li class="event" data-date="2014-12-05">
        <div class="meta">
          <a href="http://idcon.doorkeeper.jp/events/17245">
            <span class="date"><time>2014-12-05</time></span>
            <span class="location">NTTソフトウェア (品川)</span>
          </a>
        </div>
        <h3 class="title"><a href="http://idcon.doorkeeper.jp/events/17245">#idcon vol.19 ~ 実はまだIIW超えてないねん</a></h3>
      </li>

          {% include events_static.html %}
        </ul>
      </div>

      <script>
        $(function () {
          $('.event').each(function (index, event) {
            var today = new Date();
            var date = new Date($(event).data('date'));
            if (today <= date) {
              $(event).addClass('future');
            } else {
              $(event).addClass('past');
            }
          });
        })
      </script>
