<li class="event" data-date="2017-07-28">
  <div class="meta">
    <a href="https://idcon.connpass.com/event/84839/">
      <span class="date"><time>2018-06-08</time></span>
      <span class="location">mixi</span>
    </a>
  </div>
  <h3 class="title"><a href="https://idcon.connpass.com/event/59896/">#idcon vol.24 ~ #fidcon 再び</a></h3>
</li>
<li class="event" data-date="2017-07-28">
  <div class="meta">
    <a href="https://idcon.connpass.com/event/59896/">
      <span class="date"><time>2017-07-28</time></span>
      <span class="location">Google Japan</span>
    </a>
  </div>
  <h3 class="title"><a href="https://idcon.connpass.com/event/59896/">#idcon vol.23 ~ 明日の銀行APIより今日のクレカ決済...とCredential Management API</a></h3>
</li>
<li class="event" data-date="2016-11-01">
  <div class="meta">
    <a href="https://idcon.connpass.com/event/40861/">
      <span class="date"><time>2016-11-01</time></span>
      <span class="location">mixi</span>
    </a>
  </div>
  <h3 class="title"><a href="https://idcon.connpass.com/event/40861/">#idcon vol.22 ~ NIST SP 800-63-3 分割、補完関係へ。</a></h3>
</li>
