      <h2>History</h2>
      <div class="entry-content">
        <ul>
          {% include events_connpass.html %}
          {% include events_doorkeeper.html %}
          {% include events_static.html %}
        </ul>
      </div>

      <script>
        $(function () {
          $('.event').each(function (index, event) {
            var today = new Date();
            var date = new Date($(event).data('date'));
            if (today <= date) {
              $(event).addClass('future');
            } else {
              $(event).addClass('past');
            }
          });
        })
      </script>
